html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

body
{
	background: transparent url('../pictures/bg.jpg') center center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}
h1
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	padding: 0 0 10px 0;
	border-bottom: 3px solid #f2b103;
}

a,
a:link,
a:visited,
a:active { color: #f2b103; }
a:hover { color: #ffffff; }

.right { float: right; }
small { display: none; }

#wrapper
{
	position: relative;
	top: 70%;
	height: 75px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

#wrapper > .inner
{
	width: 1000px;
	margin: 0 auto;
	padding: 0 30px;
}

#logo
{
	float: left;
	margin-top: 5px;
	margin-left: -10px;
	height: 100%;
}

#logo img
{
	height: 85%;
}


#menu{
	float: left;
	margin-left: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

#menu ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#menu > ul > li{
	float: left;
	margin: 0 1px;
	width-min: 90px;
}

#menu > ul > li a{
	display: block;
	line-height: 72px;
	padding: 0px 15px;
	background-color: rgba(0, 0, 0, 0.4);
	border-bottom: 3px solid #f2b103;
	height: 100%;
	color: #ffffff;
	text-decoration: none;
}

#menu > ul > li a:hover, #menu > ul > li.active a{
	display: block;
	line-height: 72px;
	padding: 0px 15px;
	background-color: rgba(0, 0, 0, 0.6);
	height: 100%;
	color: #ffffff;
}

#container{
	float: right;
	width: 500px;
	height: 300px;
	background-color: rgba(0, 0, 0, 0.6);
	margin: -175px 11px 0 0;
	position: relative;
	padding: 5px;
}

#slideshow{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 1);
}
#slideshow ul { padding: 0; margin: 0; list-style: none;}

#slideshow #navigation {
	width: 100%;
	height: 100%;
	margin-bottom: -300px;
	z-index: 10;
	display: none;
}

#slideshow #navigation li {
	width: 45px;
	height: 75px;
	float: left;
	position: relative;
	z-index: 100;
	margin-top: 170px;
}
#slideshow #navigation li#next {
	text-align: right;
	float: right;
}

#slideshow #navigation li a {
	display: inline-block;
	opacity: 0.8;
}



#slideshow #pictures img
{
	width: 100%;
}

#box {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 1);
	
}

#content{
	margin: 5px 20px 10px 20px;
	color: #ffffff;
	line-height: 1.3em;
}

#lokalita{
}
#lokalita p {
	font-size: 12px;
	margin: 0.75em 0;
}
#lokalita p.alt {
	font-size: 14px;
	color: #F2B103;
}


#prihlasit{
}

.error
{
	color: #f00;
	margin-bottom: 1em;
}

#galeria ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#galeria ul li {
	float: left;
	width: 19%;
	height: 70px;
	margin: 0.5%;
}
#galeria ul li img {
	border: 0;
	height: 100%;
	width: 100%;
}


#kontakt p{
	font-size: 14px;
	line-height: 1.6em;
}

#dokumenty form p {
	float: left; width: 50%;
}
#dokumenty form p input[type=text] {
	width: 90%;
}
#dokumenty form p input[type=submit] {
	margin-top: 18px;
}
#dokumenty .success {
	font-size: 16px;
	text-align: center;
	margin: 4em 0;
}

