html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

body
{
	background: transparent url('../pictures/bg.jpg') center center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}
h1
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	padding: 0 0 10px 0;
	border-bottom: 3px solid #f2b103;
}

#wrapper
{
	position: relative;
	top: 70%;
	height: 75px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

#wrapper > .inner
{
	width: 1000px;
	margin: 0 auto;
	padding: 0 30px;
}

#logo
{
	float: left;
	margin-top: 5px;
	margin-left: -10px;
}

#menu{
	float: left;
	margin-left: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

#menu ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#menu > ul > li{
	float: left;
	margin: 0 1px;
	width-min: 90px;
}

#menu > ul > li a{
	display: block;
	line-height: 72px;
	padding: 0px 15px;
	background-color: rgba(0, 0, 0, 0.4);
	border-bottom: 3px solid #f2b103;
	height: 100%;
	color: #ffffff;
	text-decoration: none;
}

#menu > ul > li a:hover, #menu > ul > li.active a{
	display: block;
	line-height: 72px;
	padding: 0px 15px;
	background-color: rgba(0, 0, 0, 0.6);
	height: 100%;
	color: #ffffff;
}

#container{
	float: right;
	width: 500px;
	height: 300px;
	background-color: rgba(0, 0, 0, 0.6);
	margin: -175px 50px 0 50px;
	position: relative;
	padding: 5px;
}

#slideshow{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 1);
}
#slideshow ul { padding: 0; margin: 0; list-style: none;}

#slideshow #navigation {
	width: 100%;
	height: 100%;
	margin-bottom: -300px;
	z-index: 10;
	display: none;
}

#slideshow #navigation li {
	width: 45px;
	height: 75px;
	float: left;
	position: relative;
	z-index: 100;
	margin-top: 170px;
}
#slideshow #navigation li#next {
	text-align: right;
	float: right;
}

#slideshow #navigation li a {
	display: inline-block;
	opacity: 0.8;
}



#slideshow #pictures img
{
	width: 100%;
	height: 100%;
}

#box {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 1);
	
}

#content{
	margin: 5px 20px 10px 20px;
	color: #ffffff;
	line-height: 20px;
}

#lokalita{
	margin: 5px 0 50px 0;
	
}

#prihlasit{
	margin: 5px 0 100px 0;
}

#prihlasit .error
{
	color: #f00;
	margin-bottom: 1em;
}









